* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #333;
  overflow: hidden;
  /*  prevent scroll down the page  */
}


.game-container {
  position: relative;
  width: 352px;
  height: 198px;
  margin: 0 auto;
  margin-top: 20px;
  border: papayawhip 1px solid;
  transform: scale(3) translateY(50%);
  canvas {
    image-rendering: pixelated;
  }
}


